<div class= "container">
  <div class= "row">
    <div class= "mx-auto col-11 col-sm-10 col-lg-9 col-xl-8">
      <h1 class= "text-center" >About : このサイトの説明</h1>
      <p>
      元銀行員が作った絶対破産させない支出管理WEBアプリ<br />
      資金、収入の比率から今月いくら使えるのか。<br />
      いくら以上使ってはいけないのか一眼でわかるサイトです。<br />
      このサイトのテーマは、世の中のお金の管理で困っている人を救う、手助けをすることです。<br />
      　<br />
      ※このWEBアプリの優位性<br />
      日々の支払実績（金額、カテゴリ、支払方法、メモ）は手入力となります。<br />
      昨今クレジットカート、キャッシュレス等での支払は、<br />
      自動で記録される便利なアプリが世の中に出ておりますが、そこが落とし穴であると感じています。<br />
      このアプリでは、自分で手入力することで何にいくら使ったのか頭に残る仕組みとなっており、<br />
      頭に残ることで、支払いの失念や口座残高の不足に気づきやすくなる点が本アプリ機能のメリットです。<br />
      東日本旅客鉄道株式会社（JR）等が行っている「ヨシ（指差喚呼）」は<br />
      ケアレスミスにもっとも効果がある確認方法と言われており、<br />
      これと同様にお金を使った時にも「ヨシ！」ができれば破産を防ぐきっかけとなってくれるでしょう。<br />
      </p>
   <p>
      <span><h5>以下必ず読んで欲しいです！（先頭ページにあった説明）</h5></span>
      予算設定は支払合計金額の右側、予算の文字をクリックすると設定できます。<br />
      予算は、現在収入の80％~90%を上限として設定することをお勧めします。(例)月収20万なら16万円~18万円<br />
      残りの10％〜20％（貯蓄率）2~4万円は貯蓄に回してください。<br />
      ※貯金が生活費の6ヶ月分以上となった際は、以降の貯金について、投資を検討しましょう。<br />
      （銀行や証券会社を使わず、まずはご自身で書籍やネット等で調べ、「少額」から始めることが大切です。）<br />
      可能な方は貯蓄率を50％以上にして、使える予算を考えるとほぼ確実に破産を食い止められるでしょう。<br />
      </p>
    </div>
  </div>
</div>

<div id="box">
  <div id="images">
    <div class="money"></div>
    <div class="money1"></div>
    <div class="money2"></div>
    <div class="money3"></div>
  </div>
</div>