<div class= "container">
  <div class= "row">
    <div class= "mx-auto col-11 col-sm-10 col-lg-9 col-xl-8">
      <h1 class= "text-center" >About : このサイトの説明</h1>
      <p class= "text-center">
      元銀行員が作った絶対破産させない支出管理WEBアプリ<br />
      資金比率から今月いくら使えるのか。<br />
      いくら以上使ってはいけないのか一眼でわかるサイトです。<br />
      このサイトのテーマは、世の中のお金で困っている人を救う、手助けをすることです。<br />
      　<br />
      ※このWEBアプリの優位性<br />
      日々の支払実績（金額、カテゴリ、支払方法、メモ）は手入力となります。<br />
      昨今クレジットカート、キャッシュレス等での支払は、<br />
      自動で記録される便利なアプリが世の中に出ておりますが、そこが落とし穴であると感じています。<br />
      このアプリでは、自分で手入力することで何にいくら使ったのか頭に残る仕組みとなっており、<br />
      頭に残ることで、支払いの失念や口座残高の不足に気づきやすくなる点が本アプリ機能のメリットです。<br />
      東日本旅客鉄道株式会社（JR）等が行っている「ヨシ（指差喚呼）」は<br />
      ケアレスミスにもっとも効果がある確認方法と言われており、<br />
      これと同様にお金を使った時にも「ヨシ！」ができれば破産を防ぐきっかけとなってくれるでしょう。<br />
      </p>
    </div>
  </div>
</div>

<div id="box">
  <div id="images">
    <div class="money"></div>
    <div class="money1"></div>
    <div class="money2"></div>
    <div class="money3"></div>
  </div>
</div>