 <!-- 画像の設定 -->
  <div class="carousel-inner">

    <div class="row">
    <div class='mx-auto col-11 col-sm-10 col-lg-8 col-xl-6'>

      <h1><strong>EMA</strong>へようこそ！</h1>
      <p><strong>会員の方は以下ログインからお進みください。</strong></p>
      <p>会員でない方はお手数ですが、サインアップから新規登録をお願い致します。</p>
      <p>このサイトは支出を管理する為の無料アプリです。<br>
      概要についてはサイト説明ページをご覧ください。<br>
      ※初回会員登録、予算設定後、必ずサイト説明ページにて、予算設定の説明を見てください。<br>
      （1〜2分で終わります。）</p>
      <div class="btn-wrapper col-10 mx-auto">
        <div class="row">
          <%= link_to 'ログイン',new_user_session_path, class: "btn btn-info btn-sm btn-block mb-3 sign_in" %>
        </div>
        <div class="row">
          <%= link_to 'サインアップ',new_user_registration_path, class: "btn btn-success btn-sm btn-block sign_up" %>
        </div>
      </div>

    </div>
  </div>

    <div class="carousel-item active">
      <%= image_tag 'money2.jpeg',:size => '200x400', class: 'd-block w-100' %>
    </div>
  </div><!-- /.carousel-inner -->

