/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 /*
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

* {
 margin: 0px;
 padding: 0px;
 box-sizing: border-box;
}


html {
   background-image: linear-gradient(90deg, rgba(198, 240, 168, 0.7), rgba(250, 248, 233, 0.7));
}

body {
  background-image: linear-gradient(90deg, rgba(198, 240, 168, 0.7), rgba(250, 248, 233, 0.7));
  padding-top: 80px!important;
  padding-bottom: 50px!important;
}

#box{
  height: 450px;
}
.money {
  background-image: image-url("money.jpg");
}
.money1 {
  background-image: image-url("money1.jpg");
}
.money2 {
  background-image: image-url("money2.jpg");
}
.money3 {
  background-image: image-url("money3.jpg");
}

html, body {
 height: 100%;
}

header {
 background-color: grey;
 opacity: 0.8;
}

.wrapper {
  width: 100%;
  position: relative;
  min-height: 100%;
}

.blank{
 height: 50px;
}

footer {
 width: 100%;
 height: 50px;
 position: absolute;
 bottom: 0;
 background-color: grey;
 opacity: 0.8;
}
